<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <ManneBusk_DevPanel>
            <version>0.1.0</version>
        </ManneBusk_DevPanel>
    </modules>
    <global>
        <helpers>
            <devpanel>
                <class>ManneBusk_DevPanel_Helper</class>
            </devpanel>
        </helpers>
        <blocks>
            <devpanel>
                <class>ManneBusk_DevPanel_Block</class>
            </devpanel>
        </blocks>
        <models>
            <devpanel>
                <class>ManneBusk_DevPanel_Model</class>
            </devpanel>
        </models>
        <events>
            <controller_action_layout_load_before>
                <observers>
                    <devpanel_layout_handle>
                        <class>devpanel/observer</class>
                        <method>addLayoutHandle</method>
                    </devpanel_layout_handle>
                </observers>
            </controller_action_layout_load_before>
            <core_block_abstract_to_html_after>
                <observers>
                    <devpanel_layout_handle>
                        <class>devpanel/observer</class>
                        <method>addBlockHints</method>
                    </devpanel_layout_handle>
                </observers>
            </core_block_abstract_to_html_after>
        </events>
    </global>
    <frontend>
        <layout>
            <updates>
                <devpanel>
                    <file>devpanel.xml</file>
                </devpanel>
            </updates>
        </layout>
        <routers>
            <devpanel>
                <use>standard</use>
                <args>
                    <module>ManneBusk_DevPanel</module>
                    <frontName>devpanel</frontName>
                </args>
            </devpanel>
        </routers>
        <events>
            <controller_action_predispatch>
                <observers>
                    <devpanel_enable_symplinks>
                        <class>devpanel/observer</class>
                        <method>setEnableSymlinks</method>
                    </devpanel_enable_symplinks>
                </observers>
            </controller_action_predispatch>
        </events>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <devpanel>
                    <file>devpanel.xml</file>
                </devpanel>
            </updates>
        </layout>
        <events>
            <adminhtml_controller_action_predispatch_start>
                <observers>
                    <auth>
                        <class>devpanel/observer</class>
                        <method>actionPreDispatchAdmin</method>
                    </auth>
                </observers>
            </adminhtml_controller_action_predispatch_start>
        </events>
    </adminhtml>
</config>

