///
/// Dev Panel Style
///
/// @author Manne Busk <mannebusk@gmail.com>
///
@import "mixins/reset"
@import "config"
@import "getters"
@import "atoms/typography"
@import "atoms/icon"
@import "atoms/button"
@import "molecules/header"
@import "molecules/menu"

#dev-panel
  +reset
  position: fixed
  top: 0
  left: 0
  transform: translateX(calc(-100% - 2rem))
  // transform: translateX(0)
  z-index: 9999
  perspective: 2000

  width: 25vw
  height: 100vh
  min-width: 25rem
  transition: transform .2s cubic-bezier(.82,.56,.51,1)
  overflow: visible

  background: bgColor()

  .dp-content
    padding: gutter()

  &.open
    transform: translateX(0)
    box-shadow: 2px 0 .5rem rgba(black, .3)
    .sneaker
      transform: translateX(-100%) scale(0)

  &.sneak-peak
    transform: translateX(-100%)

  .sneaker
    width: 2rem
    height: 10rem
    position: absolute
    left: 100%
    top: 50%
    transform: translateY(-50%)
    background: bgColor()
    transition: all .2s ease-out
    padding: .25rem
    cursor: pointer

    h4.dp-text
      margin: 0 auto
      width: 1em
      word-wrap: break-word
      padding-left: 10%
      line-height: 1
      color: textColor()
      position: absolute
      top: calc(50% + .5rem)
      left: 50%
      transform: translate(-50%, -50%)
      // transform: rotate(-90deg) translate(-200%, 0)
