---
title: Home
heading: 'Yo, Frontend!'
lead: Welcome to the markup!
---
<div>
  <h1>{{ heading }}</h1>
  <p>
      Elit ipsam accusantium quibusdam eaque voluptatem. Voluptatem ea molestiae delectus quia laudantium, assumenda. Sequi odit est nobis qui sint sunt maxime nemo dicta. Nam consequatur suscipit provident accusamus nisi soluta?
  </p>
  <p>
      Ipsum ipsa eligendi impedit id autem laudantium, eum velit commodi magnam, quod. Sapiente tempora animi illo iure quaerat dolorum dolore illum quasi. Culpa incidunt iusto eligendi quibusdam magni, accusamus hic.
  </p>
</div>
