---
title: Profile
heading: 'Profile'
lead: Welcome to the markup!
layout: src/templates/layouts/profile.hbs
---
<div>
  <h1>{{ heading }}</h1>
  <p>
      Ipsum ipsa eligendi impedit id autem laudantium, eum velit commodi magnam, quod. Sapiente tempora animi illo iure quaerat dolorum dolore illum quasi. Culpa incidunt iusto eligendi quibusdam magni, accusamus hic.
  </p>
</div>
