---
layout: src/templates/layouts/default.hbs
---

{{! Main content }}
<div class="two-column main" role="main">
  {{> body }}
</div>

{{! Sidebar }}
<aside class="two-column right">
    {{> sidebar }}
</aside>

