---
layout: src/templates/layouts/default.hbs
---

{{! Sidebar }}
<aside class="two-column left">
    {{> sidebar }}
</aside>

{{! Main content }}
<div class="two-column main" role="main">
  {{> body }}
</div>
