///
/// Menu
///
#dev-panel
  .dp-menu
    background: bgColor(medium)
    height: 100vh
    padding: 2rem 0

    li
      padding: .5rem 2rem
      vertical-align: middle

      .icon
        margin-right: 1rem
        vertical-align: middle
        display: inline-block


    li + li
      border-top: 1px solid borderColor()

